/* style.css */

body, header, main {
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10 20;
    margin: 20px 150px;
}

.team-list li {
    flex: 0 0 calc(25% - 20px); /* Two items per row */
    margin: 10px;
    text-align: center;
}

.team-list li img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-list li .description {
    font-size: 14px;
}

.team-list management-team{
    display: flex;
    
}
.team-list management-team1{
    display: flex;
    flex: 0 0 calc(50% - 20px); /* Two items per row */
    margin: 10px;
    text-align: center;
    
}
.team-list management-team2 {
    flex: 0 0 calc(33.33% - 20px); /* Two items per row */
    margin: 10px;
    text-align: center;
}
.team-list team-list sales-marketing-team1 {
    flex: 0 0 calc(25% - 10px); /* Two items per row */
    margin: 10px;
    text-align: center;
}
.team-list team-list sales-marketing-team2 {
    flex: 0 0 calc(33.33% - 20px); /* Two items per row */
    margin: 10px;
    text-align: center;
}
.highlight {
    border: 2px solid #ff00ff; /* Pink border */
    padding: 3px 5px; /* Adjust padding to create space around the words */
    background-color: #ff00ff;
    color: #f9f9f9;
    border-radius: 8px; /* Light gray background */
}

.flag {
    width: 100px;
    height: 150px;
    background-color: purple;
    position: absolute; /* Ensures the flags are positioned relative to the viewport */
    clip-path: polygon(20% 0%, 50% -400%, 75% 50%, 0% 50%);  /* Creates the flag shape */
  }
  
  .top-right {
    top: 0;
    right: 0;
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
  }
  


